.flexbox-container-3 {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: center;
  margin: auto;
  align-content: flex-start;
  padding: 10px;
}

.flexbox-column {
  width: 100%;
  display: flex;
  margin-left: 5%;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 10px;
}

.services-button {
  width: 15%;
}

.services {
  width: 100%;
  margin-right: 5%;
}
.in-between {
  width: 25%;
}

p {
  font-size: 22px;
}

/* https://stackoverflow.com/questions/36029610/how-to-add-vertical-line-between-two-divs/36029731 */
hr.vertical {
  height: 100%;
  width: 0;
  border: 1px solid black;
}
