.flexbox-container-5 {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: space-between;
  margin: auto;
}

.flexbox-container-5 .leftSide {
  margin-bottom: 20px;
  flex-direction: column;
}

.flexbox-container-5 .leftSide .location {
  display: flex;
  justify-content: space-between;
}

.flexbox-container-5 .leftSide .call {
  display: flex;
  justify-content: flex-start;
}

.flexbox-container-5 .leftSide .hours {
  display: flex;
  justify-content: flex-start;
}

.text {
  padding-top: 3px;
  padding-left: 5px;
}

@media only screen and (max-width: 1520px) {
  .flexbox-container-5 {
    width: 60%;
  }
}
@media only screen and (max-width: 1243px) {
  .flexbox-container-5 {
    width: 70%;
  }
}

@media only screen and (max-width: 1080px) {
  .flexbox-container-5 {
    width: 80%;
  }
}
@media only screen and (max-width: 945px) {
  .flexbox-container-5 {
    width: 95%;
  }
}
