.service {
  background-color: white;
  height: 100px;
  width: 330px;
  padding: 3px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.service .button {
  background-color: #f2f3f4;
  height: 85px;
  width: 325px;
  cursor: pointer;
  border: 0 !important;
  pointer-events: none;
  font-size: 16px;
}

#unselected {
  outline: 2px solid white !important;
}

#selected {
  outline: 2px solid #b90d1f !important;
}
.container {
  display: flex;
  flex-direction: row;
}

.container .button {
  margin-left: 90%;
}

.flexbox-container {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  margin: auto;
  align-content: flex-start;
}

.appointment-details {
  flex-direction: column;
  justify-content: flex-start;
}

.flexbox-container.contact-info {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* TODO: fix mobile view for contact info page */

.flexbox-container.contact-info .leftSide {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.flexbox-container.contact-info .rightSide {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.appointment-info {
  width: 100%;
}

.left {
  float: left;
  text-align: left;
}

.right {
  float: right;
  text-align: right;
}

@media only screen and (max-width: 1475px) {
  .flexbox-container {
    width: 85% !important;
  }
}
@media only screen and (max-width: 1200px) {
  .flexbox-container {
    width: 100% !important;
  }
  .flexbox-container-3 {
    width: 95% !important;
  }
  .success {
    width: 80% !important;
  }
}

@media only screen and (max-width: 733px) {
  .service {
    width: 240px;
  }
}
@media only screen and (max-width: 527px) {
  .service {
    width: 200px;
  }
}
.flexbox-container-2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.flexbox-container-4 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.center {
  margin: auto !important;
  text-align: center;
  justify-content: center;
}

.center.button {
  width: 10%;
  display: flex;
  align-items: center;
}

.edit-cancel {
  width: 80%;
}

.page-title {
  /* display: flex;
  margin: auto;
  width: 50%; */
  text-align: center;
  margin-bottom: 15px;
}

.input {
  margin-right: 50px;
}

.phoneNum {
  top: 16px;
}

.small {
  font-size: 12px;
}

.success {
  flex-direction: column;
  width: 50%;
}

.flexbox-container-4 .leftSide {
  margin-bottom: 30px;
  width: 50%;
}

.flexbox-container-4 .rightSide {
  justify-content: flex-end;
  width: 50%;
}
.flexbox-container-5 .leftSide.success {
  width: 40% !important;
}

@media only screen and (max-width: 1520px) {
  .flexbox-container-5 {
    width: 60%;
  }
}
@media only screen and (max-width: 1243px) {
  .flexbox-container-5 {
    width: 70%;
  }
}

@media only screen and (max-width: 1080px) {
  .flexbox-container-5 {
    width: 80%;
  }
}
@media only screen and (max-width: 945px) {
  .flexbox-container-5 {
    width: 95%;
  }
}

/* #selected:hover {
  background-color: white;
} */

/* #unselected:hover {
  background-color: red;
} */
